<section class="hero is-fullheight" id="resume">
    <div class="hero-body">
        <div class="container">
            <div class="section">
                <h1 class="title is-uppercase has-text-weight-semibold has-text-black resume-title">Resume</h1>
            </div>
            <div class="section">
                <div class="container">
                    <h1 class="title has-text-primary">Experience</h1>
                    <!-- Experience table goes here -->
                        <div class="resume-entry"> <!-- /div -->
                            <div class="twocols">
                                <div class="date"> 09.2023 - Present</div>
                                <div class="title">Postdoc</div>
                            </div>
                            <div class="institution">Max Planck Institute for Astronomy, Germany</div>
                            <div class="description">Working for the ERC Advanced Grant ”Hunting Dormant Black Holes in the Galaxy with SDSS-V” (PI: HW. Rix).</div>
                            <a class="link" href="https://www.mpia.de/rix/team">Webpage</a>
                        </div>
                        <div class="resume-entry"> <!-- /div -->
                            <div class="twocols">
                                <div class="date"> 09.2021 - 08.2023</div>
                                <div class="title">Postdoc</div>
                            </div>
                            <div class="institution">KU Leuven, Belgium</div>
                            <div class="description">Working for the MULTIPLES research programme under an ERC consolidator grant (PI: H. Sana).</div>
                            <a class="link" href="https://fys.kuleuven.be/ster/research-projects/multiples">Webpage</a>
                        </div>
                    <h1 class="title has-text-primary">Education</h1>
                    <!-- Education table goes here -->
                        <div class="resume-entry"> <!-- /div -->
                            <div class="twocols">
                                <div class="date"> 2016 - 2021</div>
                                <div class="title">PhD Astronomy</div>
                            </div>
                            <div class="institution">University of Edinburgh, U.K.</div>
                            <div class="thesis">"The multiplicity properties and spectral classification of B-type stars"</div>
                            <div class="supervisor">Prof. Dr. Chris Evans</div>
                        </div>
                        <div class="resume-entry"> <!-- /div -->
                            <div class="twocols">
                                <div class="date"> 2014 - 2016</div>
                                <div class="title">MSc Astronomy</div>
                            </div>
                            <div class="institution">Universidad de La Serena, Chile</div>
                            <div class="thesis">"Spectral Classification of B-Type Stars Observed in the Framework of the “Galactic O-Star Spectroscopic Survey"</div>
                            <div class="supervisor">Prof. Dr. Rodolfo Barbá</div>
                        </div>
                        <div class="resume-entry"> <!-- /div -->
                            <div class="twocols">
                                <div class="date"> 2007 - 2012</div>
                                <div class="title">BSc Physics with a major in Astronomy</div>
                            </div>
                            <div class="institution">Universidad de Valparaíso, Chile</div>
                            <div class="thesis">"Evolution of Compact Binaries: The Future of Post-Common-Envelope Binaries"</div>
                            <div class="supervisor">Prof. Dr. Matthias Schreiber</div>
                        </div>
                    <h1 class="title has-text-primary">Selected Publications</h1>
                    <!-- Publications list goes here -->
                        <div class="resume-entry">
                            <h3 class="publ-title">The B-type Binaries Characterisation Programme - II. VFTS 291: a stripped star from a recent mass transfer phase</h3>
                            <p class="publ-authors"><span class="highlight">J. I. Villaseñor</span>, D. J. Lennon, A. Picco, T. Shenar, P. Marchant, N. Langer, P. L. Dufton, F. Nardini, C. J. Evans, J. Bodensteiner, S. E. de Mink, Y. Götberg, I. Soszyński, W. D. Taylor, and H. Sana</p>
                            <a class="publ-info" href="https://ui.adsabs.harvard.edu/abs/2023MNRAS.525.5121V/abstract" target="_blank">2023, MNRAS, 525, pp. 5121–5145</a>
                        </div>
                        <div class="resume-entry">
                            <h3 class="publ-title">Searching for compact objects in the single-lined spectroscopic binaries of the young Galactic cluster NGC 6231</h3>
                            <p class="publ-authors">G. Banyard, L. Mahy, H. Sana, J. Bodensteiner, <span class="highlight">J. I. Villaseñor</span>, K. Sen, N. Langer, S. de Mink, A. Picco, and T. Shenar</p>
                            <a class="publ-info" href="https://ui.adsabs.harvard.edu/abs/2023A%26A...674A..60B/abstract" target="_blank">2023, A&A, 674, A60</a>
                        </div>
                        <div class="resume-entry">
                            <h3 class="publ-title">The VLT-FLAMES survey of massive stars. NGC 2004#115: A triple system hosting a possible short period B+BH binary</h3>
                            <p class="publ-authors">D. J. Lennon, P. L. Dufton, <span class="highlight">J. I. Villaseñor</span>, C. J. Evans, N. Langer, R. Saxton, I. M. Monageng, and S. Toonen</p>
                            <a class="publ-info" href="https://ui.adsabs.harvard.edu/abs/2022A%26A...665A.180L/abstract" target="_blank">2022, A&A, 665, A180</a>
                        </div>
                        <div class="resume-entry">
                            <h3 class="publ-title">Properties of the Be-type stars in 30 Doradus</h3>
                            <p class="publ-authors">P. L. Dufton, D. J. Lennon, <span class="highlight">J. I. Villaseñor</span>, I. D. Howarth, C. J. Evans, S. E. de Mink, H. Sana, and W. D. Taylor</p>
                            <a class="publ-info" href="https://ui.adsabs.harvard.edu/abs/2022MNRAS.512.3331D/abstract" target="_blank">2022, MNRAS, 512, pp. 3331–3344</a>
                        </div>
                        <div class="resume-entry">
                            <h3 class="publ-title">The observed multiplicity properties of B-type stars in the Galactic young open cluster NGC 6231</h3>
                            <p class="publ-authors">G. Banyard, H. Sana, L. Mahy, J. Bodensteiner, <span class="highlight">J. I. Villaseñor</span>, and C. J. Evans</p>
                            <a class="publ-info" href="https://ui.adsabs.harvard.edu/abs/2022A%26A...658A..69B/abstract" target="_blank">2022, A&A, 658, A69</a>
                        </div>
                        <div class="resume-entry">
                            <h3 class="publ-title">The B-type binaries characterization programme I. Orbital solutions for the 30 Doradus population</h3>
                            <p class="publ-authors"><span class="highlight">J. I. Villaseñor</span>, W. D. Taylor, C. J. Evans, O. H. Ramı́rez-Agudelo, H. Sana, L. A. Almeida, S. E. de Mink, P. L. Dufton, and N. Langer</p>
                            <a class="publ-info" href="https://ui.adsabs.harvard.edu/abs/2021MNRAS.507.5348V/abstract" target="_blank">2021, MNRAS, 507, pp. 5348–5375</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>